.main {}

.logo {
  display: block;
  margin: 0 auto;
  height: 450px;
  width: 800px;
  border-radius: 28px;
  margin-bottom: 20px;
}

.center {
  display: block;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}

.btn {
  border-radius: 28px;
  background-color: white;
  margin: 0 20px;
}

.atag {
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.imgbank {
  padding: 20px 20px;
}

.pyimg {
  height: 100px;
  width: 350px;
  margin: 20px 20px;
  border: 2px solid grey;
  border-radius: 15px;
}

.supported {
  margin: 20px 0 0 0;
  font-size: 30px;
  font-weight: bold;
}

.imghn {
  width: 200px;
  margin: 20px 20px;
}

.imgsqr {
  height: 200px;
  width: 200px;
  margin: 20px 20px;
}

.imgrect {
  height: 100px;
  width: 350px;
  margin: 20px 20px;
}
