@font-face {
    font-family: ArchivoNarrow;
    src: url('../../dist/assets/archivo-narrow/ArchivoNarrow-Regular.ttf');
}

.header {
  font-family: ArchivoNarrow;
  margin: 2% 0 2% 15%;
}

.setup_containter {
  font-family: ArchivoNarrow;
  border: 5px solid black;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
  padding-bottom: 2%;
}

.setup_header {
  padding: 0 0 0 5%;
}

.dl {
  text-decoration: none;
  color: black;
  padding: 0 5% 0 40%;
}

#dlicon {
  color: black;
}

.sh_headers {
  padding: 0 5% 0 30%;
  text-decoration: underline;
}

.dl_link {
  text-decoration: none;
  color: black;
  padding: 0 5% 0 40%;
}

.setup_button {
   border-top: 1px solid #000000;
   background: #ffffff;
   padding: 7px 14px;
   border-radius: 8px;
   color: #000000;
   font-size: 19px;
   font-family: ArchivoNarrow;
   text-decoration: none;
   vertical-align: middle;
}

.setup_button:hover {
   border-top-color: #919191;
   background: #195aff;
   color: black;
}

.setup_button:active {
   border-top-color: #696369;
   background: #696369;
}

.using_cln_front {
  width: 400px;
  padding: 0 0 0 15%;
}

.using_cln_service_output {
  width: 400px;
  padding: 0 0 0 15%;
}

.using_cln_article {
  width: 400px;
  padding: 0 0 0 15%;
}
